*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 
a{
    color: inherit;
    text-decoration: none;
}
html{
    font-family: "Roboto Slab", serif;
}
header{
    background-color: rgb(52, 218, 52);
    padding: 30px 50px;
    color: white;
    display: flex;
    gap: 1000px;
}
.header-and-logo{
    display: flex;
    gap:5px;
    font-weight: 500;
}
header nav{
    display: flex;
    gap: 10px;
    font-size: 20px;
    position: relative;
    top: 13px;
}
footer{
    background-color: rgb(52, 218, 52);
    display: flex;
    color: white;
    padding: 20px;
    gap: 730px;
}
.footer-icons{
    font-size: 20px;
}
.main-headig h1{
    color: rgb(52, 218, 52);
    margin: 30px 60px;
}
.calorie-calculator-container{
    margin-left: 60px;
    background-color: #EEE;
    max-width: 700px;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 100px;
}
input{
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none; /* Removes the default outline when focused */
    padding: 3px;
    margin-left: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 10px;
    
  }
  
  /* Change border when the input is focused (clicked) */
  input:focus {
    border: 2px solid rgb(52, 218, 52) !important;
    border-radius: 3px !important;
  }
  .gender-buttos{
    display: flex;
    gap: 10px;
  }
  #calculate{
    border: none;
    border-radius: 5px;
    background-color: rgb(52, 218, 52);
    color: white;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #calculate:hover{
    background-color: #1b5e20;
  }
  #clear{
    border: none;
    border-radius: 5px;
    background-color: rgb(103, 103, 103);
    color: white;
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  #clear:hover{
    background-color: rgb(74, 74, 74);
  }
  .calorie-convert-header h1{
    color: rgb(52, 218, 52);
    margin: 30px 60px;
  }
  .calorie-convert-container{
    display: flex;
    margin-left: 60px;
    background-color: #EEE;
    max-width: 700px;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 100px;
    gap: 20px;
  }
  #fconvert{
    border-radius: 0px;
    height: 30px;
  }
  .calorie-convert-container select{
    height: 30px;
  }
  .empty-table-row{
    background-color: #FFF;
  }

  .calculated-results div{
    display: flex;
    gap: 10px;
  }
  .calculated-results div p{
    margin-top: 6px;
  }
  .calculated-results{
    display: none;
  }

  .calculated-results div a{
    color: rgb(52, 218, 52);
  }

  .calculated-results div a:hover{
    color: #1b5e20;
  }

  header nav ul li ul{
    display: none;
}

  header nav ul li:hover ul{
      display: block;
}
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profile-hidden-info{
    display: none;
    position: relative;
    bottom: 785px;
    background-color: #1b5e20;
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    gap: 5px;
    flex-direction: column;
    left: 1605px;
    list-style: none;
}